@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

@font-face {
    font-family: "Proxima";
    src: url("/assets/fonts/Proxima_Nova_Font.otf");
}

body {
    // font-family: "Rubik", sans-serif;
    font-family: 'Proxima Nova', sans-serif;
    scroll-behavior: smooth;
    // color: #39d213;
}

.my-info {
    background: linear-gradient(to right, rgba(16, 15, 15, 0.874), rgba(3, 48, 3, 0.879)), url("/images/slides/ginger.jpg");
}

@import "navbar";

@tailwind base;
@tailwind components;
@tailwind utilities;
